.cool {
  width: 50%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  justify-content: center;
  max-width: 100vh;
}

.artical-box {
  background: radial-gradient(blue, cyan);
}
.artical-box img {
  size: 100%;
}
