.cool {
  display: flex;
  justify-content: center;
  margin: 2% auto;
}
.cool h2 {
  font-size: 25px;
}
.artical-box {
  background-color: gray;
  padding: 5%;
}
.artical-box img {
  width: 100%;
}
.inter-cool {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  justify-content: center;
}

.topic {
  border-radius: 30px;
  padding: 5px;
  font-weight: 600;
  display: inline-block;
}

.list {
  background-color: red;
}

.classist {
  background-color: #d1483b;
}

.childlabor {
  background-color: #3bd142;
}

.ableist {
  background-color: #009cff;
}

.rasist {
  background-color: #a66bbe;
}

.lie {
  background-color: #f99500;
}

@media only screen and (max-width: 600px) {
  .inter-cool {
    grid-template-columns: 1fr;
  }
}
