.cool {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.artical-box {
  background: radial-gradient(blue, cyan);
}
.artical-box img {
  size: 100%;
}
.inter-cool {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  justify-content: center;
}
