html {
  --default-font: glory, sans-serif;
  --primary-color: #c72727;
  --light-color: #f3f3f3;
  --dark-color: #333;
  --link-color: #333;
  --sports-color: #f99500;
  --arts-color: #a66bbe;
  --tech-color: #009cff;
  --science-color: #3bd142;
  --food-color: #d1483b;
}

.pill {
  display: inline-block;
  text-transform: capitalize;
  font-size: 12px;
  padding: 5px;
  color: white;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
}

.container {
  margin: 0 auto;
}
